*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background-color: rgb(247, 194, 201);
    font-family: Helvetica;
    font-weight: bolder;
    
    
}


.container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    overflow:hidden;
    
}



.items{
  display:flex;
  justify-content:center;
  align-items:center;
  cursor: move;
  width:11em;
  height:16em; 
}


.list{

    width:11rem;
    height:16em;
    background-color:rgb(247, 229, 229);
    border: 1px solid white;
    margin:5px;  
}
